{
    "env": {
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "plugins": ["react-hooks"],
    "rules": {
      "no-console": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    },
    "extends": ["react-app", "eslint-config-prettier",
      "plugin:react-hooks/recommended"]
  }