@import './arrows.scss';
@import './searchInput.scss';
@import './navbar.scss';


* {
  box-sizing: border-box;
	margin: 0;
  padding: 0;
}

.header_image {
  background-image: url('./header.jpg');
}
.custom-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.custom-switch {
    padding-left: 0 !important;
  }

.header_image {
    height: 85vh;
}

.image_block {
    height: 100%;
    overflow: hidden;
}
  
.image_block img {  
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none;
  }

  .show {
    display: block;
  }

  .hover-text-decor-none:hover {
    text-decoration: none;
}

.card-image{
  max-width: 800px;
  max-height: 600px;
}

.image-block {
  width: 100%;
  overflow: hidden;
}

.card-title-custom {
  background-color: #000;
  opacity: 0.8;
  bottom: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 6px;
}

@media screen and (min-width:700px){
.animal-name {
  position: absolute;
  right: 5%;
  bottom: 40%;
  color: #fff;
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
}
}
body {
  overflow-x: hidden;
}